
/* font-family: 'Quicksand', sans-serif; */

.button {
    display: block;
    height: 46px;
    width: 178px;
    font-size: 18px;
    line-height: 46px;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    margin-right: 15px;
}
.button.green {
    background-color: #28D775;
    color: #fff;
}
.button.white {
    background-color: #fff;
    color: #161616;
}
.button.black {
    background-color: #161616;
    color: #fff;
}

.figure {
    overflow: hidden;
}
.figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

body {
    overflow-x: hidden;
}
.container {
    width: 100%;
}
.container .row{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: left;
    font-size: 0;
}
.container .content {
    width: 100%;
}

.navegation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.navegation .content {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegation .list li {
    display: inline-block;
    padding: 0 15px;
}
.navegation .list a {
    color: #28D775;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.navegation .button {
    margin: 0;
}

.header {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../imgs/hero.jpg');
    
}
.header .content {
    width: 476px;
    height: 752px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 680px;
}
.header h1 {
    color: #161616;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}
.header p {
    color: #161616;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 47px;
}
.header .content-buttons {
    display: flex;
}


.quienes-somos {
    background-color: #28D775;
    padding-top: 175px;
}
.quienes-somos h2 {
    font-size: 36px;
    line-height: 45px;
    color: #FAFAFA;
    font-weight: 500;
    margin-bottom: 15px;
}
.quienes-somos p {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #FAFAFA;
    margin-bottom: 20px;
}
.quienes-somos .content,
.quienes-somos .figure {
    display: inline-block;
    vertical-align: bottom;
}
.quienes-somos .content {
    width: 575px;
    padding-right: 99px;
    margin-bottom: 105px;
}
.quienes-somos .figure {
    width: 595px;
    height: 414px;
    border-radius: 15px 15px 0 0;
}


.slider {
    margin-top: 75px;
    margin-bottom: 140px;
}
.slider.arrows .arrow{
    position: absolute;
    top: 50%;
    width: 56px;
    height: auto;
    margin-top: -23px;
}
.slider.arrows .arrow.left{
    left: -60px;
}
.slider.arrows .arrow.right{
    right: -60px;
}
.slider h2 {
    color: #000;
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 57px;
}

.content-slides {
    position: relative;
    font-size: 0;
}
.content-slides article {
    display: inline-block;
    width: 272.5px;
    background-color: #282828;
    border-radius: 15px;
    margin: 0 10px;
    overflow: hidden;
    height: 339px;
}
.content-slides .figure {
    height: 214px;
}
.content-slides h3 {
    color: #FAFAFA;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 18px 25px;
}
.slider .button {
    width: 376px;
    margin: 0 auto;
    margin-top: 57px;
}



.aside {
    background-position: center;
    background-repeat: no-repeat;
}
.aside.gray {
    background-image: url('../imgs/banner-gris.jpg');
}
.aside.green {
    background-image: url('../imgs/banner-verde.jpg');
}
.aside .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 197px;
}
.aside h3 {
    font-size: 36px;
    line-height: 45px;
    color: #161616;
}
.aside .button {
    width: 376px;
}


.novedades {
    background-color: #EEEEEE;
    padding: 51px 0 51px 0;
    margin-top: 57px;
    margin-bottom: 106px;
}
.novedades h2 {
    color: #000;
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 27px;
}
.novedades .big-box,
.novedades .content {
    display: inline-block;
    width: 575px;
    vertical-align: top;
}
.novedades .big-box,
.novedades .small-box {
    border-radius: 30px;
    overflow: hidden;
}
.novedades .big-box {
    margin-right: 20px;
}
.novedades .small-box {
    margin-bottom: 20px;
}


.newsletter {
    background-color: #EEE;
    padding: 70px 0;
}
.newsletter h2 {
    color: #000;
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 34px;
}
.newsletter p {
    color: #000;
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
}
.newsletter .content {
    width: 575px;
    display: inline-block;
    vertical-align: top;
}
.newsletter h3 {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}
.newsletter .input-text {
    width: 477px;
    height: 46px;
    border: 2px solid #797777;
    border-radius: 30px;
    font-size: 18px;
    line-height: 46px;
    padding-left: 15px;
    font-weight: 300;
}
.newsletter .button {
    margin-left: auto;
    margin-right: 98px;
    margin-top: 15px;
}

.footer {
    background-color: #161616;
    padding-top: 70px;
    padding-bottom: 40px;
}
.footer .row {
    position: relative;
}
.arrow-top {
    position: absolute;
    top: -90px;
    right: 0
}
.footer .top{
    text-align: center;
}
.footer .lista {
    padding-top: 35px;
}
.footer .lista > li {
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
}
.footer .lista > li > a {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
.lista-actividades li {
    text-align: left;
}
.lista-actividades a {
    color: #C4C4C4;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}
.footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer .copyright small{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.footer .info a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.social-media {
    display: flex;
    margin-top: 15px;
}
.social-media li {
    margin-right: 15px;
}



.header-nosotros {
    background-color: #fff;
    margin-top: 128px;
    margin-bottom: 130px;
}
.header-nosotros h1 {
    font-size: 36px;
    line-height: 45px;
    color: #000;
    font-weight: 500;
    margin-bottom: 24px;
}
.header-nosotros p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
}
.header-nosotros .content,
.header-nosotros .figure {
    display: inline-block;
    vertical-align: middle;
}
.header-nosotros .content {
    width: 481px;
    margin-right: 114px;
}
.header-nosotros .figure {
    width: 575px;
    height: 414px;
    border-radius: 30px;
}


.que-hacemos {
    padding-top: 96px;
    margin-bottom: 140px;
}
.que-hacemos h2 {
    font-size: 36px;
    line-height: 45px;
    color: #000;
    margin-bottom: 32px;
}
.que-hacemos .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.que-hacemos .boxes .box {
    flex-basis: 375px;
    height: 118px;
    background-color: #28D775;
    border-radius: 20px;
    margin-bottom: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.que-hacemos .boxes .box h3 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
}
.que-hacemos h4 {
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
}

.voluntariado {
    margin-top: 165px;
    margin-bottom: 70px;
}
.voluntariado h2 {
    font-size: 36px;
    line-height: 45px;
    color: #000;
    margin-bottom: 70px;
}
.voluntariado .boxes {
    font-size: 0;
}
.voluntariado .buttons,
.voluntariado .info {
    display: inline-block;
    vertical-align: top;
}
.voluntariado .buttons {
    width: 373px;
    height: 140px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 20px;
}
.voluntariado .buttons a {
    display: block;
    text-align: center;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
}
.voluntariado .buttons .gray {
    background-color: #EEEEEE;
    color: #282828;
}
.voluntariado .buttons .green {
    background-color: #28D775;
    color: #FAFAFA;
}
.voluntariado .info {
    padding: 35px 79px;
    background-color: #EEEEEE;
    border-radius: 30px;
    width: 777px;
}
.voluntariado .info h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.voluntariado .info p {
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    margin-bottom: 15px;
}
.voluntariado .info small {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #161616;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.buttons-container .button {
    width: 277px;
}
.banner-voluntariado {
    margin-bottom: 30px;
}


.proyectos {
    margin-top: 150px;
}
.proyectos h1 {
    font-size: 36px;
    line-height: 45px;
    color: #000;
    font-weight: 500;
    margin-bottom: 96px;
}

.proyectos .boxes {
    font-size: 0;
    max-width: 960px;
    margin: 0 auto;
}
.proyectos .box .figure,
.proyectos .box .info {
    display: inline-block;
    vertical-align: top;
}
.proyectos .box {
    margin-bottom: 80px;
}
.proyectos .box .figure{
    width: 464px;
    border-radius: 30px;
    overflow: hidden;
}
.proyectos .box .info {
    width: 466px;
    margin: 0 15px;
}
.proyectos h3 {
    font-size: 24px;
    line-height: 30px;
    color: #161616;
    margin-bottom: 10px;
}
.proyectos p {
    font-size: 16px;
    line-height: 21px;
    color: #161616;
    margin-bottom: 20px;
}


.actividades {
    margin-top: 150px;
}
.nota .list,
.nota .content {
    display: inline-block;
    vertical-align: top;
}
.nota .list {
    width: 277px;
    margin-left: 120px;
}
.nota .content {
    width: 773px;
}
.header-nota {
    margin-top: 150px;
    margin-bottom: 50px;
}
.header-nota h1{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.nota {
    margin-bottom: 146px;
}
.nota .figure {
    border-radius: 30px;
    margin-bottom: 80px;
}
.nota h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}
.nota p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.nota .list ul{
    margin-bottom: 20px;
}
.nota .list li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nota .list p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.nota .list p strong {
    display: block;
}
.nota .button.white {
    margin-top: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}